<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stock List</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
        <th>Price</th>
        <th>Lot</th>
        <th>Cost</th>
        <th>Earning</th>
        <th>Earn Percentage</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stock : ${stocks}">
        <td th:text="${stock.id}"></td>
        <td th:text="${stock.name}"></td>
        <td th:text="${stock.code}"></td>
        <td th:text="${stock.price}"></td>
        <td th:text="${stock.lot}"></td>
        <td th:text="${stock.cost}"></td>
        <td th:text="${stock.earning}"></td>
        <td th:text="${stock.earnPercentage}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
