
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head -->
<th:block th:replace="~{common/template :: common-head(title='Home')}"/>

<body>

<!-- Container starts-->
<main class="container mt-5 p-5">
    <h2 class="text-center" th:text="${user.username}"> </h2>
    <p  class="text-center mb-3">Kullanicisina hisse ekliyorsunuz</p>
    <div class="input-group mb-3">
        <input type="text" id="stockInput" class="form-control" placeholder="Hisse adını veya kodunu girin..." oninput="filterStocks(this.value)">
    </div>
    <div id="stockDropdown" class="list-group" style="display: none; position: absolute; z-index: 1000;">
        <!-- Dropdown içeriği JavaScript ile doldurulacak -->
    </div>

    <form id="stockForm" th:action="@{/management/add-stock}" method="post" style="display: none;">


    <input type="text" id="stockName" class="form-control mt-2" placeholder="Stock Name">
        <input type="text" id="stockCode" class="form-control mt-2" placeholder="Stock Code">
        <input type="number" id="stockPrice" class="form-control mt-2" placeholder="Price" step="0.01">
        <input type="hidden" id="userId" th:value="${user.id}" name="userId">

        <div class="text-center mt-2">
            <button type="submit" class="btn btn-primary">Add Stock</button>
        </div>
    </form>

</main>

<!--Common Body Scripts-->
<div th:replace="~{common/template :: common-scripts}"></div>
</body>
</html>